@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ECF0F1;
}

a, .btn-link {
    color: #0366d6;
}

a .wx-card-title {
    color: #2b2b2b;
    font-weight: bold;
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

p {
    font-size: 14pt;
}

.lozenge {
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.category-xamarin-forms
{
    background-color: red;
}


:root {
    --min-desktop-width: 641px;
    --min-desktop-width: 641px;
    --SkyBlueLight: #3598DB;
    --YellowDark: #FFA800;
    --TealLight: #3A6F81;
    --PinkLight: #F47CC3;
    --RedLight: #E84C3D;
    --PowderBlueDark: #99AAD5;
    --WatermelonLight: #EF727A;
    --GreenLight: #2DCC70;
    --MagentaLight: #9B58B5;
    --LimeLight: #A5C63B;
    --OrangeLight: #E77E23;
    --BlueLight: #5165A2;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.wx-card {
    transition: 0.3s;
    margin: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.wx-container {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    border-left-style: solid;
    border-left-width: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




.search-box {
    display: flex;
    gap: 10px;
    border-left-style: none;
    align-items: center;
}

.wx-field {
    width: unset;
}


@media (max-width: 640.98px) {
    .search-box {
        flex-direction: column;
    }

    .wx-field {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .search-box {
        flex-direction: row;
    }

    .wx-field {
        width: unset;
    }
}
