@page "/Admin"
<h1>Admin Page</h1>
<div>
    <div>
        <ArticlesListComponent Articles="Articles"></ArticlesListComponent>
    </div>
    <div>

        <EditionListComponent />
    </div>
</div>

@code {

}
