/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-tn75oj2dc5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-tn75oj2dc5] {
    flex: 1;
}

.sidebar[b-tn75oj2dc5] {
    background-color: var(--SkyBlueLight);
}

.top-row[b-tn75oj2dc5] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tn75oj2dc5]  a, .top-row .btn-link[b-tn75oj2dc5] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tn75oj2dc5] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tn75oj2dc5] {
        display: none;
    }

    .top-row.auth[b-tn75oj2dc5] {
        justify-content: space-between;
    }

    .top-row a[b-tn75oj2dc5], .top-row .btn-link[b-tn75oj2dc5] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
  

    .sidebar[b-tn75oj2dc5] {
        position: sticky;
        top: 0;
    }

    .top-row[b-tn75oj2dc5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-tn75oj2dc5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-javya5ve0f] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-javya5ve0f] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-javya5ve0f] {
    font-size: 1.1rem;
}

.oi[b-javya5ve0f] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-javya5ve0f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-javya5ve0f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-javya5ve0f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-javya5ve0f]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-javya5ve0f]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-javya5ve0f]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-text[b-javya5ve0f] {
    display: none;
}

.nav-right[b-javya5ve0f] {
    display: flex;
}

@media (max-width: 640.998)
{
    .nav-text[b-javya5ve0f] {
        display: none;
    }
}

@media (min-width: 641px) {

    .nav-text[b-javya5ve0f] {
        display: inline;
    }
}
