/* /Components/ThemeSwitch.razor.rz.scp.css */



.nav-text[b-inboizgcig] {
    display: none;
}
@media (max-width: 719.998px) {

    .nav-text[b-inboizgcig] {
        display: none;
    }
}

@media (min-width: 720px) {
    .nav-text[b-inboizgcig] {
        display: inline;
    }
}
/* /Pages/AboutPage.razor.rz.scp.css */
.link-item[b-z7q9yuyar8],
.contributor[b-z7q9yuyar8]{
    color: var(--link);
    display: block;
    font-size: 14pt;
}

.contributor[b-z7q9yuyar8] {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* /Pages/SubmitPage.razor.rz.scp.css */
.form-container[b-c9d8oilhq4] {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.form[b-c9d8oilhq4] {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-tn75oj2dc5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-tn75oj2dc5] {
    flex: 1;
}

.sidebar[b-tn75oj2dc5] {
    background-color: var(--SkyBlueLight);
    position: sticky;
    top: 0;
}


@media (max-width: 719.998px) {
}



@media (min-width: 720px) {
    .main > div[b-tn75oj2dc5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-javya5ve0f] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-javya5ve0f] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-javya5ve0f] {
    font-size: 1.1rem;
}

.oi[b-javya5ve0f] {
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    margin-right: 5px;
}

.nav-item[b-javya5ve0f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-javya5ve0f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-javya5ve0f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-javya5ve0f]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-javya5ve0f]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-javya5ve0f]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

 .nav-right[b-javya5ve0f] {
    display: flex;
}

.navbar-brand[b-javya5ve0f], .nav-text[b-javya5ve0f] {
    display: none;
}

@media (max-width: 719.998px) {

    .navbar-brand[b-javya5ve0f], .nav-text[b-javya5ve0f] {
        display: none;
    }
}

@media (min-width: 720px) {


    .navbar-brand[b-javya5ve0f], .nav-text[b-javya5ve0f] {
        display: inline;
    }
}
