.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-color: var(--SkyBlueLight);
    position: sticky;
    top: 0;
}



@media (max-width: 640.98px) {

}



@media (min-width: 641px) {
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
