@using MonkeyCache;
@inject IBarrel Barrel;
@inject IJSRuntime jSRuntime;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Weekly Xamarin</a>
    @* empty div is to trick flex into showing nav-right on the right *@
    <div></div>
    <div class="nav-right">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> <span class="nav-text">Home</span>
        </NavLink>
        <NavLink class="nav-link" href="Search">
            <span class="oi oi-magnifying-glass" aria-hidden="true"></span><span class="nav-text">Search</span>
        </NavLink>
        <NavLink class="nav-link" href="Submit">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span><span class="nav-text">Submit</span>
        </NavLink>
        <NavLink class="nav-link" href="About">
            <span class="oi oi-heart" aria-hidden="true"></span><span class="nav-text">About</span>
        </NavLink>
        <NavLink class="nav-link">
            <ThemeSwitch />
        </NavLink>
        
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
}
