@page "/Edition/{EditionId}"

<h3>ArticlesPage</h3>
<h3>@EditionId</h3>
@if(ViewModel?.Articles != null && ViewModel.Articles.Count != 0)
{
    foreach(var article in ViewModel.Articles)
                {
                    <NavLink href="@article.Url" target="_blank" >@article.Title</NavLink>
                }
}

