@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Xamarin.Essentials.Interfaces.IConnectivity connectivity

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Stored count: @storedCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="LoadValue">Click me again</button>
<p>@connectivity.NetworkAccess</p>
@code {
    private int currentCount = 0;
    int storedCount;
    private async Task IncrementCount()
    {
        currentCount++;
        await localStorage.SetItemAsStringAsync("count", currentCount.ToString());
    }

    async Task LoadValue()
    {
        storedCount = await localStorage.GetItemAsync<int>("count");
    }
}
