@page "/"
<h3>Weekly Xamarin Editions</h3>

@if (ViewModel == null)
{
    <p>No view model</p>
}

else
{
    <CollectionView ItemsSource="ViewModel.Editions"
                    TItem="@Edition"                    >
        <Card Subtitle="@context.Summary"
                Url="@($"Edition/{@context.Id}")"
                Image="https://weeklyxamarin.github.io/website/assets/StoreIcon.png">
            <Title>
                <h4><b>#@context.Id</b> @context.PublishDate.ToShortDateString()</h4>
            </Title>
        </Card>
    </CollectionView>
    
}
