.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.form {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}
