@page "/Submit"

<div class="form-container">
    <iframe class="form"
            src="https://docs.google.com/forms/d/e/1FAIpQLSdmnJTKioprQYeipbl1dmVBGgo5SJiO5JOFNozvfb-fvpFsIQ/viewform?embedded=true"
            marginheight="0" marginwidth="0">
        Loading…
    </iframe>
</div>


@code {

}
