<NavLink @key="Url" href="@Url" target="@(OpenInNewTab ? "_blank" : "_self")">

    <div class="wx-card">
        <img src="@Image" style="width:100%" />
        <div class="wx-container">
            @Title
            <p>@Subtitle</p>
        </div>
    </div>
</NavLink>
@code {
    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public bool OpenInNewTab { get; set; }
}
