@using MvvmHelpers
@typeparam TItem


@if (ItemsSource == null || !ItemsSource.Any())
{
    <p>No items</p>
}
else
{
    @foreach (var context in ItemsSource)
    {
        @ChildContent(context)
    }
}

