@using MonkeyCache;
@inject IBarrel Barrel;
@inject IJSRuntime jSRuntime;

<span title="@TitleText" class="oi @IconClass" aria-hidden="true" @onclick="@ThemeSwitchChanged"> Theme</span>

@code {
    string Theme;
    string NextTheme => Theme switch
    {
        "system" => "dark",
        "dark" => "light",
        "light" => "system",
        _ => "dark"
    };

    string IconClass => NextTheme switch
    {
        "system" => "oi-cloudy",
        "dark" => "oi-moon",
        "light" => "oi-sun",
        _ => "oi-moon"
    };

    string TitleText => $"Change from {Theme ?? "system"} to {NextTheme} theme";

    public async Task ThemeSwitchChanged()
    {
        Theme = NextTheme;
        await jSRuntime.InvokeVoidAsync("switchTheme", Theme);
    }

    protected override async Task OnInitializedAsync()
    {
        Theme = Barrel.Get<string>("theme");
        Theme = string.IsNullOrWhiteSpace(Theme) ? "system" : Theme;
        await jSRuntime.InvokeVoidAsync("switchTheme");
    }
}
